*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 600px;
    margin: auto;
    border: 5px solid black;
}
.container1{
    font-size: 26px;
    font-weight: bold;
    background-color: skyblue;
    border: 1px solid black;
}
.container2{
    width: 200px;
    background-color: blanchedalmond;
    float: left;
    font-size: 20px;
    border: 1px solid black;
}
.container3{
    width: 200px;
    background-color: aquamarine;
    float: left;
    font-size: 20px;
    border: 1px solid black;
}
.container4{
    background-color: bisque;
    font-size: 20px;
    border: 1px solid black;
}
.container5{
    width: 50%;
    background-color: beige;
    float: left;
    border: 1px solid black;
}
.container6{
    background-color: brown;
    border: 1px solid black;
}
.container7{
    width: 100%;
    background-color: chocolate;
    border: 1px solid black;
}
.clear{
    clear: both;
}