*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
    text-decoration: none;
}

header{
    height: 100vh;
    background-image: url('./Images/front-banner-jan2025-v2.jpg');
    background-size: 100% 100%;
}

.container{
    width: 1170px;
    margin: auto;
}

nav{
    text-align: right;
    padding-top: 15px;
}

.container .login{
    width: 70px;
    height: 35px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: white;
    border: none;
    border-radius: 6px;
    background-color: #6D5E63;
    transition: 0.4s;
    cursor: pointer;
}

.login:hover{
    background-color: #ccc;
}

.container .signup{
    width: 100px;
    height: 40px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: white;
    border: none;
    border-radius: 6px;
    background-color: #378D88;
    transition: 0.4s;
    cursor: pointer;
}

.signup:hover{
    background-color: #4efff6;
}

.main{
    width: 1170px;
    margin: auto;
}

.main nav{
    text-align: center;
    margin-bottom: 10px;
}

.trademark{
    background-color: #FF706F;
    width: 200px ;
    height: 40px;
    border-radius: 6px;
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.row1{
    width: 100%;
    height: 280px;
    /* border: 2px solid red; */
    display: flex;
    padding-bottom: 20px;
    text-align: center;
}

.row{
    width: 33.33%;
    height: 100%;
    margin-left: 5px;
    /* border: 1px solid black; */
}

.row2{
    width: 100%;
    /* border: 2px solid; */
    text-align: center;
    color: #D30200;
    padding-bottom: 15px;
    font-size: 18px;
}

.row3{
    width: 100%;
    height: 280px;
    display: flex;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.roww{
    margin-right: 2px;
    margin-left: 15px;
    width: 30%;
    /* border: 2px solid red; */
    height: 100%;
    background-color: #F8F8F8;
    border-radius: 6px;
    border-color: #F8F8F8;
    box-shadow: 0px 3px 0px rgba(0,0,0,0.2);
}

.rowww{
    width: 8%;
    height: 100%;
    margin-left: 5px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

.rowww i{
    text-align: center;
    padding-top: 115px;
}

.roww h3{
    padding-top: 25px;
    color: #5e5e5e;
    padding-bottom: 25px;
}

.roww h5{
    padding-top: 35px;
    padding-bottom: 35px;
}

.read{
    margin-top: 25px;
    text-align: center;
    justify-content: end;
    width: 160px;
    font-size: 19px;
    color: #337AB7;
    /* font-weight: bold; */
    /* font-weight: 400; */
    height: 45px;
    background-color: #76c7c0;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 5px 0px #62b9b0;
    transition: all 0.4s ease;
    text-transform: uppercase;
    line-height: 30px;
    cursor: pointer;
   
}

.read:hover{
    background-color: #518B86;
    color: white;
}

.row4{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
}

.advise{
    width: 30%;
    text-align: center;
}

.advise h2{
    color: rgb(102, 102, 102);
    /* text-align: center; */
    font-size: 17px;
    padding-bottom: 10px;
}

.advise img{
    width: 100%;
    height: 218px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.advise > div:last-child{
    padding-top: 20px;
    text-align: right;
}


.row5{
    text-align: center;
    padding-top: 40px;
    color: #D30200;
    padding-bottom: 20px;
}

.row6{
    display: flex;
    justify-content: space-around;
    
}

.people >div{
    text-align: center;
    padding-bottom: 10px;
}

.row7{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #D30200;
}


.row8{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    /* text-align: center; */
}

.date1{
    padding: 20px 20px;
    height: auto;
}

.date2{
    padding: 20px 20px;
}
.row8 .date1{
    width: 50%;
    margin-right: 5px;
    border-radius: 10px;
    background-color: #F8F8F8;
    box-shadow: 0px 5px 0px #ccc;
}

.row8 .date2{
    width: 50%;
    margin-left: 5px;
    border-radius: 10px;
    background-color: #F8F8F8;
    box-shadow: 0px 5px 0px #ccc;
}

.date1 >div{
    padding-bottom: 20px;
}

.date2 >div{
    padding-bottom: 20px;
}
.date1 img{
    width: 100%;
}

.date2 img{
    width: 100%;
}

.date1 span{
    font-weight: bold;
}

.date2 span{
    font-weight: bold;
}


.main2{
    background-color: #F3F3F3;
}
.new{
    width: 1170px;
    margin: auto;
    /* border: 1px solid; */
    padding-bottom: 20px;
}

.row9{
    /* border: 1px solid; */
    text-align: center;
    color: #D30200;
    padding-bottom: 20px;
}

.row9 h1{
    padding-top: 50px;
}

.row10{
    padding-bottom: 30px;
}

.row10 img{
    width: 50px;
    height: 15px;
    color: #666666;
    /* padding-right: 100px; */
}

.row11{
    /* border: 2px solid red; */
    display: flex;
}

.row11 .shadi{
    width: 40%;
    padding-right: 30px;
    color: #666666;
    /* border: 1px solid; */
    /* font-size: 20px; */
}

.shadi >div h3{
    color: #666666;
    padding-bottom: 20px;
}

.shadi span a{
    color: rgb(14, 115, 179);
}

.shadi >div:nth-child(2){
    width: 130px;
    height: 2px;
    background-color: #D30200;
    margin-bottom: 25px;
}

.help a{
    color: #666666;
}

.help a:hover{
    color: #AA0000;
    cursor: pointer;
}

.row11 .help{
    width: 15%;
    transition: 0.2s;
    /* border: 1px solid; */
}

.help >div h3{
    padding-bottom: 15px;
    color: #666666;
}

.help >div:nth-child(2){
    width: 80px;
    height: 2px;
    background-color: #D30200;
    margin-bottom: 30px;
}

.help ul li{
    margin-bottom: 10px;
}
.footer{
    /* height: 200px; */
    background-color: #AA0000;
    /* border: 2px solid; */
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.footerleft{
    justify-content: left;
    /* border: 1px solid; */
    color: white;
    font-size: 12px;
    padding-left: 125px;
    padding-top: 30px;
}

.innerfooter{
    display: flex;
}

.innerfooter img{
    padding-right: 21px;
}

.footerright{
    justify-content: right;
    /* border: 1px solid; */
    text-align: right;
    color: white;
    font-size: 14px;
    padding-right: 140px;
    padding-top: 35px;
}

.footerright >div{
    padding-bottom: 10px;
}